
/* 
Fonts:

AgendaBold
AgendaMediumCondensed
AgendaBoldCondensed

*/

html,body{
	margin:0;
	padding:0;
}

section{
	padding-top: 2em;
	padding-bottom: 2em;
	/*margin-left: 20px;
	margin-right: 20px;*/
}


/* Theme Defaults */
	a,
	a:visited{
		color: black;
	}

	ul{
		padding: 0;
		margin: 0;
	}
	ul li{
		list-style-type: none;
	}


/* Colors */
	.e3-green{
		color: #2F9F48;
	}
	.orange-text{
		color: orange;
	}
	.purple-text{
		color: purple;
	}
	.gray-header{
		color: #B2B3B5;
	}
	.white{
		color: white;
	}
	.e3-blue{
		color: #15345D;
	}
	.gray-body{
		color: #808184;
	}
	.gray-header-light{
		color: #BCBEC0;
	}


/* Top Bar */
	.top-rect-border{
		height: 10px;
		width: 100%;
		background: #15345D;
		margin-bottom: 1em;
	}
	.inner-rect-border{
		height: inherit;
	    background: #2F9F48;
	    width: 34em;
	    position: absolute;
	    right: 0;
	}

/* Nav */
	.site-header{
		margin-top:1em !important;
	}
	.header-hr{
		display: none;
	}
	.hr-below-banner{
		margin-top: 2em;
		margin-bottom: -1em;
	}
	.custom-logo-link img{
		width: 10em;
		margin:0px 7px 6px 10px
	}
	.site-branding{
		float:left;
	}
	.main-navigation{
		float: right;
		width: auto;
		clear: none;		
	}
	.main-navigation .menu-toggle {
		position: absolute;
		top: 16px;
		right: 10px;
	}
	.main-navigation li{
		display: inline;
		padding: 1em;
	}
	.main-navigation li a{
		text-transform: uppercase;
		font-family: agenda-condensed;
	    -webkit-font-smoothing: antialiased;
		font-weight: 700;
		font-size: 21px;
		transition: color 0.15s ease;
	}
	.main-navigation li a:hover{
		color: #2F9F48;
	}
	.current_page_item a,
	.current_page_item a:visited{
		color: #2F9F48;
	}

	/* Nav Dropdown */
	ul.children .page_item,
	.sub-menu{
		background: #15345D;
	}
	ul.children .page_item a,
	.sub-menu a{
		color: white;
		transition: color 0.15s ease;
	}
	ul.children .page_item a:hover,
	.sub-menu a:hover{
		color: #2F9F48;
	}
	.main-navigation li.menu-item-has-children a:hover{
		color: initial;
	}
	.main-navigation li.menu-item-has-children ul a:hover{
		color: #2F9F48;
	}
	/*ul.children .current_page_item{
		background: white;
	}
	ul.children .current_page_item a{
		color: #15345D;
	}*/

	/* Menu Button */
	.menu-toggle {
		font-size: 18px;
	    background: white;
	    margin-right: 10px;
	    margin-top: 5px;
	}


/* Banner */
	.banner{
		position: relative;
		overflow: hidden;
	}
	.banner-img{
		/*width: 100%;*/
		height: 35em;
		width: unset;
		max-width: unset;
	}
	.banner .row{
		padding: 3em;
		position: absolute;
		top: 0;
	}
	.banner .row-2 h3{
		color: white;
	}
	.banner-info-container{
		position: absolute;
		top: 0;
		padding: 2em;
	}
	.banner-info{
		position: relative;
		width: 100%;
		display: grid;
		grid-template-columns: auto auto auto auto auto;
	}
	.banner-info h4.gray-header-light{
		margin:0;
		margin-top:3em;
	}

	.banner-top-42{
		margin-top: 42px;
	}


.service-logo{
	width: 15em;
}
h4.service-stat{
	color: white;
	font-size: 16px;
	margin: 0;
	line-height: 30px;
}
.large-number{
	font-size: 2em;
	margin-right: 7px;
}
.quote{
	grid-column: 1 / 3;
	/*margin-top: 2em;*/
	color: blue;
	font-size: 18px;
}
.info-header{
	display: grid;
    grid-template-columns: 22% 78%;
    margin-bottom: -16px;
    margin-top: 1em;
}
.info-icon{
	width: 4em;
}
.info-large-icon{
    height: 30px;
    max-width: fit-content;
    margin-bottom: 1em;
}


/* Grid */
	.grid-container{
		display: grid;
	}
	.grid-header{
		display: grid;
		grid-template-columns: auto auto auto auto auto;
	}

	.row-2{
		display: grid;
		grid-template-columns: auto auto auto auto auto auto;
	}
	.row-3 p{
		padding-right: 3em;
	    line-height: 25px;
	    font-size: 21px;
	}
	.col-4{
		grid-column: 1 / 6;
	}
	.col-2{
		grid-column: 1 / 6;
	}
	.col-1{
		grid-column: 1 / 6;
	}


/* Download Docs Box */
	.gray-nav-box{
		padding: 24px 19px;
	    font-size: 20px;
	    color: darkblue;
	    background-color: lightgray;
	    width: 220px;
	    line-height: 26px;
	    margin-top: 1em;
	}
	.gray-nav-box ul li::before{
		content: '';
		background: url('images/download_icon.png');
		height: 20px;
	    width: 20px;
	    background-size: cover;
	    display: inline-block;
	}
	.gray-nav-box a{
		transition: color 0.15s ease;
		color: #15345D;
	}
	.gray-nav-box a:hover{
		color: #2F9F48;
	}


/* Default classes */
	.title{
	    -webkit-font-smoothing: antialiased;
		font-family: agenda;
	}
	h4.title{
		font-size: 16px;
		margin: 0;
	}
	.sentence{
	    -webkit-font-smoothing: antialiased;
		font-family: agenda-condensed;
		font-weight: 500;
	}
	p{
		color: #808184;
		font-family: agenda-condensed;
		font-weight: 500;
	    -webkit-font-smoothing: antialiased;
	}
	h2.sentence{
		font-size: 27px;
	    line-height: 36px;
	    -webkit-font-smoothing: antialiased;
	}
	.title-condensed{
		font-family: agenda-condensed;
		font-weight: 700l
	    -webkit-font-smoothing: antialiased;
	}
	.title-condensed a {
		text-decoration: none;
	}


/* Random classes */
	.top26{
		margin-top: 26px;
	}
	.top3{
		margin-top: 3em;
	}


/* Blog Post Styles */
	h1.entry-title{
	    -webkit-font-smoothing: antialiased;
		font-family: agenda-condensed;
		font-weight: 500;
		color: #15345D;
		font-size: 2em;
	}

/* Contact Form Styles */
 	.wpforms-field-label{
	    -webkit-font-smoothing: antialiased;
		font-family: agenda-condensed;
		font-weight: 700;
		color: #15345D;
		font-size: 1em;
 	}

 	.contact-list li{
		color: #15345D;
		font-family: agenda-condensed;
		font-weight: 700;
	    -webkit-font-smoothing: antialiased;
	}
	.contact-list li a{
		color: #15345D;
		font-family: agenda-condensed;
		text-decoration: none;
	}
	.contact-list li a:hover{
		color:#2F9F48;
	}
 	
/* Footer */
	footer{
		background: #B2B3B5;
		color:white;
	}
	footer .container{
		padding: 1em;
		max-width: 1050px;
	}
	footer ul li{
		color: white;
	    -webkit-font-smoothing: antialiased;
		font-family: agenda-condensed;
		font-weight: 500;
		font-size: 18px;
	}
	.grid-footer{
		grid-template-columns: 33% 33% 33%;
		margin-top: 2em;
	}
	.grid-footer > div {
		margin-bottom: 1em;
	}
	.copyright{
		color: #6B6D6F;
	    -webkit-font-smoothing: antialiased;
		font-family: agenda-condensed;
		font-weight: 500;
	}
	.email-link {
		text-decoration: none;
	}
	.grid-footer .email-link,
	.grid-footer li a {
		color: white;
		transition: color 0.15s ease;
		text-decoration: none;
	}
	.email-link:hover,
	.grid-footer li a:hover {
		color: #2F9F48;
	}


@media all and (min-width: 768px) {
	.container{
		max-width: 1050px;
		margin:0 auto;
	}

	.banner-info-container{
		top: 1em;
		padding: 4em;
	}

	.row-3{
		display: grid;
		grid-template-columns: 33.3% 33.3% 33.3%;
	}
  	.col-4{
		grid-column: 1 / 5;
	}
	.col-2{
		grid-column: 1 / 2;
	}
	.col-1{
		grid-column: 6 / 6;
		padding-right: 5em;
    	padding-left: 2em;
	}

	.banner-img{
		height: 24em;
	}

	.grid-footer{
		display: grid;
		margin-top: 2em;
	}
}


@media all and (min-width: 1000px) {
	.banner-img{
		width: 100%;
		height: auto;
		max-width: initial;
	}
	.custom-logo-link img{
		margin-top: 5px;
	}
	.header-hr{
		display: block;
		margin-bottom:5em;
	}

}


